.dataBatcher-container {
    background: transparent;
    border: none;
    border-radius: 10px;
    width: 210px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    user-select: none;
    z-index: var(--middle);
}

.dataBatcher {
    background: rgb(146, 189, 250);
    border-radius: 10px;
    width: 170px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
    box-shadow: var(--box-shadow-default);
    position: relative;
    padding: 6px;
    z-index: var(--middle);
}

.dataBatcher-title {
    font-weight: bold;
    color: #ffffff;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 1em;
    text-align: center;
}


.dataBatcher-display {
    background: rgb(255, 255, 255);
    width: 100%;
    min-height: 40px;
    flex: 1 1 auto;           /* Fills remaining space */
    display: flex;            /* Use flex, not fill */
    align-items: top;
    justify-content: center;
    font-size: 0.7em;
    text-align: left;
    overflow: hidden;
    border-radius: 5px;
    padding: 3px;
    color: #333;
    
}

.dataBatcher-graphic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;      /* Adds space below the graphic */
}

.dataBatcher-container.toolbox-preview {
    position: relative !important; /* Ensure it stays in place */
    height: 50px !important;
}

