
.dataset-container {
    background: transparent;
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
    z-index: var(--middle);
    user-select: none;
}

.dataset-interactive {
    background: rgba(255,255,255,0.95);
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
    padding: 5px;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: var(--middle);
}

.dataset-label {
    font-weight: bold;
    font-size: 1em;
    color:#222;
    margin-bottom: 4px;
    text-align: center;
}

.dataset-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 8px;
    font-size: 0.7em;
}
.dataset-table-key {
    font-weight: 600;
    text-align: right;
    padding-right: 8px;
    vertical-align: top;
    color: #444;
}
.dataset-table-value {
    text-align: left;
    color: #222;
}

.dataset-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 6px;
    margin-top: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.07);
}

.dataset-image-wrapper {
    position: relative;
    display: inline-block;
}

.dataset-popup-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: var(--button-color-grey);
    color: white;
    border: none;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    box-shadow: var(--box-shadow-default)
}

.dataset-popup-button:hover {
    background: var(--button-color-on-hover);
}

.dataset-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--ceiling);
}

.dataset-popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--box-shadow-default);
    position: relative;
}

.dataset-popup-icon {
    object-fit: contain;
    width: 150%;
}

.dataset-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--button-color-grey);
    color: black;
    border: none;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
}

.dataset-popup-close:hover {
    background: var(--button-color-on-hover);
}


