.output-container {
    background: transparent;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 15px;
    z-index: var(--middle);
}

.output {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    pointer-events: all;
    background: var(--output-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
    width: 200px;
    padding: 6px;
    z-index: var(--middle);
}

.output-title {
    font-weight: bold;
    color: var(--white-text-color);
    font-size: 1em;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
}

.output-summary {
    margin: 2px;
    font-size: 0.9em;
    color: var(--dark-text-color);
}

.output-explanation {
    background: var(--toolbar-color);
    width: 100%;
    height: 80px;
    align-items: top;
    justify-content: center;
    font-size: 0.9em;
    text-align: left;
    overflow: hidden;
    border-radius: 5px;
    padding: 4px;
    margin: 0;
    box-sizing: border-box;
    color: var(--dark-text-color);
    line-height: 1.2;
}

.output-explanation p {
    margin: 0; /* Remove default margins from the paragraph */
}

.output-container.toolbar-preview {
    border: none;
    min-height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    padding: 0;
    box-shadow: var(--box-shadow-default);
    border-radius: 5px;
    background: var(--output-color);
}

.output-container.toolbar-preview .output-title {
    font-size: 1em;
    margin: 0;
}