.output-container {
    background: transparent;
    border: none;
    border-radius: 10px;
    width: 260px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 15px;
    z-index: var(--middle);
}

.output {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    pointer-events: all;
    background: var(--output-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
    padding: 6px;
    z-index: var(--middle);
}

.output-title {
    font-weight: bold;
    color: var(--white-text-color);
    font-size: 1em;
    margin-bottom: 8px;
    text-align: center;
    width: 100%;
}

.output-batch-table {
    width: 100%;
}

.output-batch-header,
.output-batch-row {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    padding: 2px 0;
}

.output-batch-header {
    font-weight: bold;
    color: var(--dark-text-color);
}

.output-batch-row span {
    width: 20%;
    text-align: center;
}

.output-batch-row {
    color: var(--dark-text-color);
}

.output-batch-summary {
    margin: 4px;
    font-size: 0.7em;
    color: var(--dark-text-color);
}

.output-explanation {
    font-size: 0.9em;
    color: #666;
    background: var(--toolbar-color);
    border-radius: 5px;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
}

.output-container.toolbar-preview {
    border: none;
    min-height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    padding: 0;
    box-shadow: var(--box-shadow-default);
    border-radius: 5px;
    background: var(--output-color);
}

.output-container.toolbar-preview .output-title {
    font-size: 1em;
    margin: 0;
}