/* Sandbox.css
  *
  * AUTHOR(S): Mark Taylor, Sam Barney, Justin
  *
  * PURPOSE: Stylesheet for the Sandbox page
  * 
  * NOTES: This file should be renamed at some point in
  *        conjunction with Sandbox.jsx
  */

:root {
    --nodeDrawerWidth: 250px;
    --nodeDrawerCollapsePos: -290px;
    --activeColor: rgb(181, 189, 169);
    --box-shadow-default: 0 1.5px 6px 0 rgba(60, 60, 60, 0.12), 0 1.5px 6px 0 rgba(60, 60, 60, 0.12);
    /* z-index standards */
    --ceiling: 10000;
    --high: 5000;
    --middle: 1000;
    --low: 100;
    --floor: 0;
    --button-ease: 0.2s ease;

    /* Base Colors */
    --background-color: #ececec;
    --topbar-color: #2764b4;
    --toolbar-color: #ffffff;
    --button-color: #f1f1f1;
    --button-highlight-color: #b4cdff;
    
    /* Object Colors */
    --activation-color: #2588f1; /* Vibrant Blue */
    --neuron-color: #00bf50; /* Vibrant Teal */
    --dataBatcher-color: #b85ae4; /* Vibrant Purple */
    --output-color: #f2aa4c; /* Vibrant Yellow */
    --dataset-color: #ff6f76; /* Vibrant Pink */
    
    /* Action Colors */
    --start-color: #4caf50; /* Green */
    --stop-color: #f44336; /* Red */
    --pause-color: #ff9800; /* Orange */
    
    /* Text Colors */
    --dark-text-color: #212121;
    --white-text-color: #ffffff;
    --grey-text-color: #757575;
    
    /* Dark Background */
    --dark-background-color: #2c2c2c;
}

.graphText {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
    transition: color 0.1s linear;
}

.sandboxContainer {
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px); /* adjust 60px to your .topBar height */
    top: 30px; /* adjust 30px to your .topBar height */
    overflow: hidden;
}

.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: var(--topbar-color);
    z-index: var(--ceiling);
    display: flex;
    align-items: center;
    padding: 10px;
}

/* ============SANDBOX BUTTONS STARTS HERE============SANDBOX BUTTONS STARTS HERE============ */
/* DEFAULT SANDBOX BUTTONS */
.defaultSandboxButton {
    height: 3em;
    width: 10em;
    border-radius: 10px;
    background-color: var(--button-color);
    border: none;
    color: var(--dark-text-color);
    user-select: none;
    transition: all 0.2s ease-in;
}

.defaultSandboxButton:hover {
    background-color: var(--button-highlight-color);
    color: var(--dark-text-color);
    transition: all 0.2s ease-in;
}

.defaultSandboxButton:active {
    background-color: var(--activeColor);
    color: var(--dark-text-color);
    transition: all 0.1s ease-in;
}

/* GREEN BUTTON */
.greenSandboxButton {
    height: 3em;
    width: 10em;
    border-radius: 10px;;
    background-color: #47a54a;
    border-color: #006603;
    color: rgb(255, 255, 255);
    border-style: solid;
    user-select: none;
    transition: all 0.2s ease-in;
}

.greenSandboxButton:hover {
    background-color: rgb(56, 56, 56);
    color: white;
    transition: all 0.2s ease-in;
}

.greenSandboxButton:active {
    background-color: var(--activeColor);
    color: black;
    transition: all 0.1s ease-in;
}
/* RED BUTTON */
.redSandboxButton {
    height: 3em;
    width: 10em;
    border-radius: 10px;
    background-color: rgb(230, 0, 0);
    border-color: rgb(152, 0, 0);
    color: white;
    border-style: solid;
    user-select: none;
    transition: all 0.2s ease-in;
}

.redSandboxButton:hover {
    background-color: rgb(56, 56, 56);
    color: white;
    transition: all 0.2s ease-in;
}

.redSandboxButton:active {
    background-color: var(--activeColor);
    color: black;
    transition: all 0.1s ease-in;
}

/* ORANGE BUTTON */
.orangeSandboxButton {
    height: 3em;
    width: 10em;
    border-radius: 10px;;
    background-color: rgb(224, 172, 58);
    border-color: grey;
    color: white;
    border-style: solid;
    user-select: none;
    transition: all 0.2s ease-in;
}

.orangeSandboxButton:hover {
    background-color: rgb(56, 56, 56);
    color: white;
    transition: all 0.2s ease-in;
}

.orangeSandboxButton:active {
    background-color: var(--activeColor);
    color: black;
    transition: all 0.1s ease-in;
}
/* ============SANDBOX BUTTONS ENDS HERE============SANDBOX BUTTONS ENDS HERE============ */

.drawerNode {
    position: relative;
    background-color: red;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
    z-index: 89001;
}

.draggable {
    position: absolute;
    background-color: red;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
}

.nodeHandle {
    background-color: black;
    /*position: fixed;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.2s ease-in;
    z-index: 100;
}

.nodeHandle:hover {
    background-color: green;
    transition: all 0.2s ease-in;
    cursor: grab;
}

.nodeHandle:active {
    background-color: rgb(0, 79, 0);
    transition: all 0.1s ease-in;
    cursor: grabbing;
}

.nodeDragText {
    display: inline;
    color: white;
    font-size: 12px;
    user-select: none;
}

.nodeText {
    user-select: none;
}

.topRightContainer {
    position: fixed;
    top: 70px; /* below topBar */
    right: 20px;
    z-index: var(--ceiling);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toggleButton {
    position: relative;
    z-index: 10000; /* Ensure it stays above other elements */
    padding: 10px 20px;
    background-color: transparent;
    width: 180px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.7em;
    transition: 0.3s ease;
    box-shadow: var(--box-shadow-default);
    user-select: none;
}

.toggleButton:hover {
    background: var(--button-highlight-color);
}

.stageScrollWrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.nodeDrawerFixed {
    position: fixed;
    top: 60px; /* below topBar */
    left: 0;
    z-index: var(--high);
    min-width: 200px;
    height: calc(100vh - 90px); /* fill only below the topBar */
    overflow: visible;
    pointer-events: none; /* Disable pointer events */
}

.topCenterContainer {
    position: fixed;
    top: 60px; /* adjust to be below your .topBar */
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--high);
    display: flex;
    gap: 16px;
    pointer-events: auto;
}

.fullscreenButton {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: var(--high);
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 2em;
    cursor: pointer;
    box-shadow: var(--box-shadow-default);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
.fullscreenButton:hover {
    background: var(--button-highlight-color);
}

.help {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--ceiling);
}

.helpContent {
    background: var(--toolbar-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--box-shadow-default);
    max-width: 80vw; /* Limit width to 80% of the screen */
    max-height: 80vh; /* Limit height to 80% of the screen */
    overflow: hidden; /* Prevent scrolling */
    position: relative;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    justify-content: space-between; /* Ensure space for the close button */
}

.helpImage {
    max-width: 90%; /* Allow the image to take up the full width of the container */
    max-height: 70%; /* Constrain the image to the height of the container */
    border-radius: 5px;
    box-shadow: var(--box-shadow-default);
    object-fit: contain; /* Ensure the image scales proportionally without cropping */
    margin-bottom: 20px; /* Add spacing below the image */
    flex-shrink: 1; /* Allow the image to shrink if necessary */
}

