.nodeConnector {
    fill: green;
    stroke-width: 2;
    stroke: lime;
}

.teststage {
    background-color: grey;
    position: absolute;
    width: 500px;
    height: 500px;
}

.testdraggable {
    background-color: red;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
}

svg {
    background-color: rgb(139, 139, 139);
}

rect {
    stroke-width: 4;
    stroke: red;
}