/* Sandbox.css
  *
  * AUTHOR(S): Mark Taylor
  *
  * PURPOSE: Stylesheet for the Sandbox page
  * 
  * NOTES: This file should be renamed at some point in
  *        conjunction with Sandbox.jsx
  */

:root {
    --nodeDrawerWidth: 250px;
    --nodeDrawerCollapsePos: -250px;
    --activeColor: rgb(123, 183, 33);
}

.DELETEME {
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    border-radius: 5px;
}

.graphText {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
    transition: color 0.1s linear;
}

.drawerDiv {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0px;
    transition: all 0.2s ease-in;
}

.drawerDivCollapsed {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: var(--nodeDrawerCollapsePos);
    transition: all 0.2s ease-in;
}

.nodeDrawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    width: var(--nodeDrawerWidth);
    height: 100%;
    background-color: rgba(69, 69, 69, 0.65);
    backdrop-filter: blur(4px);
    overflow-y: scroll;
    z-index: 89000;
}

.nodeDrawerHandle {
    position: absolute;
    top: 40%;
    left: 100%;
    width: 25px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 57, 57);
    clip-path: xywh(0px 0px 100% 100% round 0px 5px 5px 0px);
    z-index: 89001;
    transition: all 0.2s ease-in;
}

.nodeDrawerHandle:hover {
    background-color: rgb(78, 78, 78);
    transition: all 0.2s ease-in;
}

.nodeDrawerHandle:active {
    background-color: var(--activeColor);
    transition: all 0.1s ease-in;
}

/* replacement for body, which is defined in index.css */
.sandboxContainer {
    margin: 0;
    display: flex;
    place-items: start;
    min-width: 800px;
    min-height: 100vh;
}

.bottomBar {
    overflow: hidden;
    position: fixed;
    display: inline-flex;
    bottom: 0;
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(4px);
    z-index: 90000; /* Always on top! */
    background-color: rgba(69, 69, 69, 0.65);
}

.sandboxButton {
    height: 3em;
    width: 10em;
    border-radius: 100px;
    background-color: rgba(104, 104, 104, 0.375);
    border-color: grey;
    color: white;
    border-style: solid;
    user-select: none;
    transition: all 0.2s ease-in;
}

.sandboxButton:hover {
    background-color: rgb(56, 56, 56);
    color: white;
    transition: all 0.2s ease-in;
}

.sandboxButton:active {
    background-color: var(--activeColor);
    color: black;
    transition: all 0.1s ease-in;
}


  
.stage {
    background-color: rgb(220, 220, 220);
    position: absolute;
    overflow: hidden;
    width: 4000px;
    height: 100%;
}

.drawerNode {
    position: relative;
    background-color: red;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
    z-index: 89001;
}

.draggable {
    position: absolute;
    background-color: red;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
}

.nodeHandle {
    background-color: black;
    /*position: fixed;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    transition: all 0.2s ease-in;
    z-index: 100;
}

.nodeHandle:hover {
    background-color: green;
    transition: all 0.2s ease-in;
    cursor: grab;
}

.nodeHandle:active {
    background-color: rgb(0, 79, 0);
    transition: all 0.1s ease-in;
    cursor: grabbing;
}

.nodeDragText {
    display: inline;
    color: white;
    font-size: 12px;
    user-select: none;
}

.nodeText {
    user-select: none;
}

.topRightContainer {
    position: fixed; /* Fix the container to the viewport */
    top: 10px; /* Distance from the top of the viewport */
    right: 10px; /* Distance from the right of the viewport */
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}


.toggleButton:hover {
    background-color: #0056b3;
}


.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    z-index: 1001;
    pointer-events: none; /* Let children handle pointer events */
}

.toolbar {
    pointer-events: auto;
    position: relative;
    top: 0;
    left: 0;
    background: #f5f5f5;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 10px 30px;
    z-index: 1002;
}

.toggleButton {
    pointer-events: auto;
    position: relative;
    top: 0;
    left: 10%;
    margin-left: 20px;
    z-index: 1002;
}