.nodeConnector {
    fill: green;
    stroke-width: 2;
    stroke: lime;
}

.teststage {
    background-color: grey;
    position: absolute;
    width: 500px;
    height: 500px;
}

.testdraggable {
    position: absolute;
    background-color: red;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
}

.newNode {
    background-color: red;
    padding: 2px;
    border-radius: 2px;
}

.nodeHandle {
    background-color: black;
    position: absolute;
    align-items: center;
    border-radius: 2px;
    width: 90%;
    height: 20px;
}

.nodeDragText {
    display: inline;
    color: white;
}

svg {
    background-color: rgb(139, 139, 139);
}

rect {
    stroke-width: 4;
    stroke: red;
}