# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Emscripten compiled binaries and temp files
external/emsdk/emsdk_env.sh
external/emsdk/emsdk_set_env.sh
external/emsdk/.emscripten
external/emsdk/.emscripten_ports
external/emsdk/.git-credentials
external/emsdk/tmp/
external/emsdk/upstream/
external/emsdk/fastcomp/
external/emsdk/node/
external/emsdk/zips/
external/emsdk/clang/
external/emsdk/python/
external/emsdk/java/
external/emsdk/.cache/

# Ignore build artifacts (WebAssembly and JS output)
*.wasm
*.js
*.data
*.mem
*.wast
*.html
*.map

# Ignore any log files
emscripten_log.txt