/* Sandbox.css
  *
  * AUTHOR(S): Mark Taylor
  *
  * PURPOSE: Stylesheet for the Sandbox page
  * 
  * NOTES: This file should be renamed at some point in
  *        conjunction with Sandbox.jsx
  */

  :root {
    --nodeDrawerWidth: 250px;
    --nodeDrawerCollapsePos: -250px;
    --activeColor: rgb(123, 183, 33);
}
.drawerDiv {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0px;
    transition: all 0.2s ease-in;
}

.drawerDivCollapsed {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: var(--nodeDrawerCollapsePos);
    transition: all 0.2s ease-in;
}

.nodeDrawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    width: var(--nodeDrawerWidth);
    height: 100%;
    background-color: rgba(69, 69, 69, 0.65);
    backdrop-filter: blur(4px);
    overflow-y: scroll;
    z-index: 89000;
}

.nodeDrawerHandle {
    position: absolute;
    top: 40%;
    left: 100%;
    width: 25px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 57, 57);
    clip-path: xywh(0px 0px 100% 100% round 0px 5px 5px 0px);
    z-index: 89001;
    transition: all 0.2s ease-in;
}

.nodeDrawerHandle:hover {
    background-color: rgb(78, 78, 78);
    transition: all 0.2s ease-in;
}

.nodeDrawerHandle:active {
    background-color: var(--activeColor);
    transition: all 0.1s ease-in;
}

.drawerNode {
    position: relative;
    background-color: blue;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
    z-index: 89001;
}

.draggable {
    position: absolute;
    background-color: red;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
}

.nodeHandle {
    background-color: black;
    /*position: fixed;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    transition: all 0.2s ease-in;
    z-index: 100;
}

.nodeHandle:hover {
    background-color: green;
    transition: all 0.2s ease-in;
    cursor: grab;
}

.nodeHandle:active {
    background-color: rgb(0, 79, 0);
    transition: all 0.1s ease-in;
    cursor: grabbing;
}

.nodeDragText {
    display: inline;
    color: white;
    font-size: 12px;
}

.topRightContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    gap: 10px; /* Add spacing between Status and Report */
    align-items: flex-end; /* Align to the right */
}