.draggable {
    position: absolute;
    background-color: red;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
}


/* Link indicators */
.link-indicator {
    position: absolute;
    pointer-events: none; /* Prevent mouse events */
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
}

/* Positioning for each link */
.top-link {
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.right-link {
    right: -25px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.bottom-link {
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

.left-link {
    left: -25px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
}

.nodeHandle {
    background-color: black;
    /*position: fixed;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.2s ease-in;
    z-index: 100;
}