/* NodeDrawer.css
  *
  * AUTHOR(S): Mark Taylor, Justin Moua
*/

.drawerDiv {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0px;
    transition: all 0.2s ease-in;
    pointer-events: none;
}

.drawerDivCollapsed {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: var(--nodeDrawerCollapsePos);
    transition: all 0.2s ease-in;
    pointer-events: none;
}

.nodeDrawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    width: var(--nodeDrawerWidth);
    height: 100%;
    background-color: var(--button-color);
    backdrop-filter: blur(4px);
    overflow-y: scroll;
    z-index: 89000;
}

.nodeDrawerHandle {
    position: absolute;
    top: 40%;
    left: 100%;
    width: 30px;
    height: 110px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dataset-color);
    clip-path: xywh(0px 0px 100% 100% round 0px 5px 5px 0px);
    z-index: 89001;
    transition: all 0.2s ease-in;
    pointer-events: all ;
}

.nodeDrawerHandle:hover {
    background-color: var(--dataset-color);
    transition: all 0.2s ease-in;
}

.nodeDrawerHandle:active {
    background-color: var(--activeColor);
    transition: all 0.1s ease-in;
}

.nodeDrawerHandleText {
    transform: rotate(-90deg);
    white-space: nowrap;
    color: var(--white-text-color);
    margin: 0;
    padding: 0;
}

.nodeDrawerInstructionBar {
    background: var(--dark-background-color);
    color: var(--white-text-color);
    padding: 8px 12px;
    width: calc(100% - 24px);
    font-size: 14px;
    text-align: center;
    user-select: none;
}