
.drawerDiv {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0px;
    transition: all 0.2s ease-in;
}

.drawerDivCollapsed {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: var(--nodeDrawerCollapsePos);
    transition: all 0.2s ease-in;
}

.nodeDrawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    position: relative;
    width: var(--nodeDrawerWidth);
    height: 100%;
    background-color: rgba(69, 69, 69, 0.65);
    backdrop-filter: blur(4px);
    overflow-y: scroll;
    z-index: 89000;
}

.nodeDrawerHandle {
    position: absolute;
    top: 40%;
    left: 100%;
    width: 30px;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 56, 56, 0.711);
    clip-path: xywh(0px 0px 100% 100% round 0px 5px 5px 0px);
    z-index: 89001;
    transition: all 0.2s ease-in;
}

.nodeDrawerHandle:hover {
    background-color: rgba(244, 56, 56, 1);
    transition: all 0.2s ease-in;
}

.nodeDrawerHandle:active {
    background-color: var(--activeColor);
    transition: all 0.1s ease-in;
}

.nodeDrawerHandleText {
    transform: rotate(-90deg);
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.nodeDrawerInstructionBar {
    background: #222;
    color: #fff;
    padding: 8px 12px;
    width: calc(100% - 24px);
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #444;
    /* border-radius: 5px 5px 0 0; */
    user-select: none;
}