.stage {
    position: relative;
    width: 110vw;
    height: 110vh;
    bottom: 0px;
}

.toolbarBox {
    position: fixed;
    top: 0px;
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
    z-index: 1001;
    background: #fff;
    border: 2px solid #aaa;
    border-radius: 8px;
    padding: 12px 24px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    display: flex;
    gap: 16px;
}

.stageScrollContainer {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px; /* above bottom bar */
    overflow: auto;
    background: #fafafa;
}
