/* Status.css
  * AUTHOR(S): Samuel Barney
  */

.statusContainer {
    width: 300px;
    background-color: var(--toolbar-color);
    border-radius: 8px;
    padding: 10px;
    box-shadow: var(--box-shadow-default);
    user-select: none;
}
.statusHeader {
    border-bottom: 1px solid var(--background-color);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.statusHeader h3 {
    margin: 0;
    font-size: 16px;
    color: var(--dark-text-color);
}

.statusContent {
    font-size: 14px;
    color: var(--dark-text-color);
}

.statusItem {
    margin: 5px 0;
}