/* Toolbar.css
  * AUTHOR(S): Samuel Barney
  */

.toolbarOverlay {
    z-index: 1100;
    display: flex;
    gap: 16px;
    background: var(--toolbar-color);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
}

.toolNode {
    position: relative;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
}

.toolbarObjectContainer {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.toolbarObjectCenter {
    display: inline-flex;
    align-items: center;
    position: relative;
    justify-content: center;
    padding: 0px;
    width: 120px;
    height: 100px;
    cursor: pointer;
}

.toolbarObjectInfo {
    position: absolute;
    top: 4px;
    right: 0px;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    border: none;
    background: var(--button-color);
    color: #333;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    user-select: none;
    transition: var(--button-ease);
}

.toolbarObjectInfo:hover {
    background-color: var(--button-highlight-color);
}

.toolbarObjectCounter {
    position: absolute;
    bottom: 4px;
    right: 0px;
    background: var(--dark-background-color);
    color: var(--white-text-color);
    font-size: 0.9em;
    border-radius: 4px;
    padding: 2px 6px;
    min-width: 28px;
    text-align: center;
    user-select: none;
}

.toolbarObjectDivider {
    width: 1px;
    height: 150px;
    background: var(--background-color);
    margin: 0px 0px;
    align-self: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--ceiling);
}

.overlayContent {
    background: var(--toolbar-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--box-shadow-default);
    max-width: 400px;
    max-height: 80%;
    width: 90%;
    overflow: auto;
    position: relative;
}

.overlayContent p {
    margin-bottom: 20px;
    font-size: 0.9em;
    color: var(--dark-text-color);
}

.overlayImage {
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-default);
    object-fit: contain;
}
.overlayContent button {
    background: var(--button-color);
    color: var(--dark-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: var(--button-ease);
}

.overlayContent button:hover {
    background: var(--button-highlight-color);
    
}